In [436]:
import pandas as pd
import numpy as np
from itertools import chain
import re
import json
import os
# tkinter to upload excel files
import tkinter as tk
from tkinter import filedialog
from statistics import mode

### importing excel files

#### Getting the branch name that will help us in identifying the inventory file

In [437]:
def display_menu(options):
    print("ሪፖርት የሚሰራለት ቅርንጫፍ:")
    for i, option in enumerate(options, start=1):
        print(f"{i}. {option}")
    choice = int(input("Enter the number of your choice: "))
    return choice

options = ['Addisu Gebeya', 'Adama 1', 'Adama 2', 'Airport', 'Betel 2', 'Betel 3', 'Bole 2', 'Bole 5', 'Bole Sheger', 'Bulbula 1', 'BUlbula 2', 'CMC',
           'Debre Zeyt', 'DH', 'ECA', 'Entoto', 'Ayat', 'Jemo', 'Imperial', 'Kality', 'Kera', 'Lancha', 'Lebu', 'Medhanialem', 'Megenagna', 'Minaye', 'Olompiya', 
           'Palace', 'Semen Mazegaja', 'Sarbet', 'Summit', 'Summit 2 /Figa/', 'Tor Hayloch']
choice = display_menu(options)

print(f"You selected: {options[choice - 1]}")

ሪፖርት የሚሰራለት ቅርንጫፍ:
1. Addisu Gebeya
2. Adama 1
3. Adama 2
4. Airport
5. Betel 2
6. Betel 3
7. Bole 2
8. Bole 5
9. Bole Sheger
10. Bulbula 1
11. BUlbula 2
12. CMC
13. Debre Zeyt
14. DH
15. ECA
16. Entoto
17. Ayat
18. Jemo
19. Imperial
20. Kality
21. Kera
22. Lancha
23. Lebu
24. Medhanialem
25. Megenagna
26. Minaye
27. Olompiya
28. Palace
29. Semen Mazegaja
30. Sarbet
31. Summit
32. Summit 2 /Figa/
33. Tor Hayloch
You selected: Addisu Gebeya

In [438]:
branch_mapping_dict = {'Addisu Gebeya' : 'A GEBYA', 'Adama 1' : 'ADAMA (1)', 'Adama 2' : 'ADAMA(2)', 'Airport' : 'AIRPORT', 'Betel 2' : 'BETEL(2)', 'Betel 3' : 'BETEL(3)', 
                  'Bole 2' : 'BOLE(2)', 'Bole 5': 'BOLE(5)', 'Bole Sheger' : 'BOLE SHEGER', 'Bulbula 1' : 'BULBULA(1)', 'BUlbula 2' : 'BULBULA(2)', 'CMC' : 'CMC(1)',
           'Debre Zeyt' : 'D ZEYET', 'DH' : 'DH', 'ECA' : 'ECA2', 'Entoto' : 'ENTOTO', 'Jemo' : 'JEMO', 'Imperial': 'IMPERIAL', 'Kality' : 'KALITY', 'Kera' : 'KERA', 'Lancha' : 'LANCHA', 'Lebu' : 'LEBU 2', 'Medhanialem' : 'MEDHANIALEM', 'Megenagna' : 'MEG(1)', 'Minaye' : 'MINAYE', 'Olompiya' : 'OLOMPIYA', 
           'Palace' : 'PALACE', 'Semen Mazegaja' : 'S MAZEGA', 'Sarbet' : 'SARBET', 'Summit' : 'SUMMIT(1)', 'Summit 2 /Figa/' : 'SUMMIT(2)', 'Tor Hayloch' : 'T HAYLOCH'}

In [439]:
# Function to get the mapped sheet name based on the branch name
def get_mapped_sheet_name(branch_name, branch_mapping_dict):
    return branch_mapping_dict.get(branch_name, 'DefaultSheetName')

In [440]:
new_sheet_name = get_mapped_sheet_name(options[choice - 1], branch_mapping_dict)

##### Defining the sheet name to be read for On Hand and BBF based on the branch name

In [441]:
# Dictionary to store DataFrames
dataframes = {'SIV_Fresh_Bazar': pd.DataFrame(), 'SIV_Alone' : pd.DataFrame(), 'Fresh_Bazar_Alone' : pd.DataFrame()}

In [442]:
# Upload Complain File
def upload_complain_file():
    # Open file dialog for selecting the Complain Excel file
    file_path = filedialog.askopenfilename(filetypes=[("Excel files", "*.xlsx;*.xls")])
    
    # Check if file is selected
    if file_path:
        # Read Excel file into a pandas DataFrame
        dataframes['complain'] = pd.read_excel(file_path)
        
        # Display DataFrame (you can remove this if you don't need to display the DataFrame)
        #print("Complain DataFrame:")
        #print(complain)

In [443]:
# Upload damage file
def upload_damage_file():
    # Open file dialog for selecting the Damage Excel file
    file_path = filedialog.askopenfilename(filetypes=[("Excel files", "*.xlsx;*.xls")])
    
    # Check if file is selected
    if file_path:
        # Read Excel file into a pandas DataFrame
        dataframes['damage'] = pd.read_excel(file_path)
        
        # Display DataFrame (you can remove this if you don't need to display the DataFrame)
        #print("Damage DataFrame:")
        #print(damage_df)

In [444]:
# Upload SIV & Fresh Bazar
def upload_siv_fresh_bazar_file():
    # Open file dialog for selecting the SIV Fresh Bazar Excel file
    file_path = filedialog.askopenfilename(filetypes=[("Excel files", "*.xlsx;*.xls")])
    
    # Check if file is selected
    if file_path:
        # Read Excel file into a pandas DataFrame
        dataframes['SIV_Fresh_Bazar'] = pd.read_excel(file_path)
        
        # Display DataFrame (you can remove this if you don't need to display the DataFrame)
        #print("SIV Fresh Bazar DataFrame:")
        #print(siv_fresh_bazar_df)

In [445]:
# Uploading Sales File
def upload_sales_file():
    # Open file dialog for selecting the Sales Excel file
    file_path = filedialog.askopenfilename(filetypes=[("Excel files", "*.xlsx;*.xls")])
    
    # Check if file is selected
    if file_path:
        # Read Excel file into a pandas DataFrame
        dataframes['Sales'] = pd.read_excel(file_path)
        
        # Display DataFrame (you can remove this if you don't need to display the DataFrame)
        #print("Sales DataFrame:")
        #print(sales_df)

In [446]:
# Uploading Product Item Transfer IN File
def upload_Product_Item_Transfer_IN_file():
    # Open file dialog for selecting the Sales Excel file
    file_path = filedialog.askopenfilename(filetypes=[("Excel files", "*.xlsx;*.xls")])
    
    # Check if file is selected
    if file_path:
        # Read Excel file into a pandas DataFrame
        dataframes['ProdTrans_IN'] = pd.read_excel(file_path)
        
        # Display DataFrame (you can remove this if you don't need to display the DataFrame)
        #print("Sales DataFrame:")
        #print(sales_df)

In [447]:
# Uploading FINSHED PRODUCT TRANSFER File
def upload_Finished_Product_Transfer_file():
    # Open file dialog for selecting the Sales Excel file
    file_path = filedialog.askopenfilename(filetypes=[("Excel files", "*.xlsx;*.xls")])
    
    # Check if file is selected
    if file_path:
        # Read Excel file into a pandas DataFrame
        dataframes['FinishedProdTrans'] = pd.read_excel(file_path)
        
        # Display DataFrame (you can remove this if you don't need to display the DataFrame)
        #print("Sales DataFrame:")
        #print(sales_df)

In [448]:
# Uploading Motiation File
def upload_motivation_file():
    # Open file dialog for selecting the Sales Excel file
    file_path = filedialog.askopenfilename(filetypes=[("Excel files", "*.xlsx;*.xls")])
    
    # Check if file is selected
    if file_path:
        # Read Excel file into a pandas DataFrame
        dataframes['motivation'] = pd.read_excel(file_path)
        
        # Display DataFrame (you can remove this if you don't need to display the DataFrame)
        #print("Sales DataFrame:")
        #print(sales_df)

In [449]:
# Uploading PRODUCT ITEM TRANSFER OUT File
def upload_Product_Item_Transfer_Out_file():
    # Open file dialog for selecting the Sales Excel file
    file_path = filedialog.askopenfilename(filetypes=[("Excel files", "*.xlsx;*.xls")])
    
    # Check if file is selected
    if file_path:
        # Read Excel file into a pandas DataFrame
        dataframes['ProdTrans_OUT'] = pd.read_excel(file_path)
        
        # Display DataFrame (you can remove this if you don't need to display the DataFrame)
        #print("Sales DataFrame:")
        #print(sales_df)

In [450]:
# Uploading BBF File
def upload_BBF_file():
    # Open file dialog for selecting the Sales Excel file
    file_path = filedialog.askopenfilename(filetypes=[("Excel files", "*.xlsx;*.xls")])
    
    # Check if file is selected
    if file_path:
        # Read Excel file into a pandas DataFrame
        dataframes['BBF'] = pd.read_excel(file_path, sheet_name = new_sheet_name)
        
        # Display DataFrame (you can remove this if you don't need to display the DataFrame)
        #print("Sales DataFrame:")
        #print(sales_df)

In [451]:
# Uploading BBF File
def upload_ON_HAND_file():
    # Open file dialog for selecting the Sales Excel file
    file_path = filedialog.askopenfilename(filetypes=[("Excel files", "*.xlsx;*.xls")])
    
    # Check if file is selected
    if file_path:
        # Read Excel file into a pandas DataFrame
        dataframes['ON HAND'] = pd.read_excel(file_path, sheet_name= new_sheet_name)
        
        # Display DataFrame (you can remove this if you don't need to display the DataFrame)
        #print("Sales DataFrame:")
        #print(sales_df)

In [452]:
# Uploading BBF File
def upload_SIV_Alone_file():
    # Open file dialog for selecting the Sales Excel file
    file_path = filedialog.askopenfilename(filetypes=[("Excel files", "*.xlsx;*.xls")])
    
    # Check if file is selected
    if file_path:
        # Read Excel file into a pandas DataFrame
        dataframes['SIV_Alone'] = pd.read_excel(file_path)
        
        # Display DataFrame (you can remove this if you don't need to display the DataFrame)
        #print("Sales DataFrame:")
        #print(sales_df)

In [453]:
# Uploading BBF File
def upload_FreshBazar_Alone_file():
    # Open file dialog for selecting the Sales Excel file
    file_path = filedialog.askopenfilename(filetypes=[("Excel files", "*.xlsx;*.xls")])
    
    # Check if file is selected
    if file_path:
        # Read Excel file into a pandas DataFrame
        dataframes['Fresh_Bazar_Alone'] = pd.read_excel(file_path)
        
        # Display DataFrame (you can remove this if you don't need to display the DataFrame)
        #print("Sales DataFrame:")
        #print(sales_df)

In [454]:
# Create buttons for uploading each type of Excel file
#if(choice in ['4', '27', '28']):
    # Create tkinter window
root = tk.Tk()
root.title("Upload Excel Files")
complain_button = tk.Button(root, text="Upload Complain Excel File", command=upload_complain_file)
complain_button.pack()
damage_button = tk.Button(root, text="Upload Damage Excel File", command=upload_damage_file)
damage_button.pack()
motivation_button = tk.Button(root, text="Upload motivation Excel File", command=upload_motivation_file)
motivation_button.pack()
siv_alone = tk.Button(root, text=f"Upload SIV for {options[choice - 1]} Excel File", command=upload_SIV_Alone_file)
siv_alone.pack()
Fresh_Bazar_alone = tk.Button(root, text=f"Upload Fresh Bazar for {options[choice - 1]} Excel File", command=upload_FreshBazar_Alone_file)
Fresh_Bazar_alone.pack()
Product_Item_Transfer_IN_button = tk.Button(root, text="Upload Product Item Transfer IN Excel File", command=upload_Product_Item_Transfer_IN_file)
Product_Item_Transfer_IN_button.pack()
Product_Item_Transfer_OUT_button = tk.Button(root, text="Upload Product Item Transfer OUT Excel File", command=upload_Product_Item_Transfer_Out_file)
Product_Item_Transfer_OUT_button.pack()
Finished_Product_Transfer_button = tk.Button(root, text="Upload FINSHED PRODUCT TRANSFER Excel File", command=upload_Finished_Product_Transfer_file)
Finished_Product_Transfer_button.pack()
sales_button = tk.Button(root, text="Upload Sales Excel File", command=upload_sales_file)
sales_button.pack()
BBF_button = tk.Button(root, text="Upload Starting Inventory File", command=upload_BBF_file)
BBF_button.pack()
onHand_button = tk.Button(root, text="Upload On Hand Inventory File", command=upload_ON_HAND_file)
onHand_button.pack()
 # Run the tkinter event loop
root.mainloop()

In [455]:
complain = dataframes['complain']
damage = dataframes['damage']
ProdTrans_IN = dataframes['ProdTrans_IN']
FinishedProdTrans = dataframes['FinishedProdTrans']
motivation = dataframes['motivation']
ProdTrans_OUT = dataframes['ProdTrans_OUT']
SIV_Fresh_Bazar = pd.concat([dataframes['SIV_Fresh_Bazar'], dataframes['SIV_Alone'], 
                             dataframes['Fresh_Bazar_Alone']], axis=0, sort=False)  
Sales = dataframes['Sales']
BBF = dataframes['BBF']
On_Hand = dataframes['ON HAND']

In [456]:
# Load the JSON data from the file
with open('C:\Cost Reporting Automation\stock_data_2024-06-04.json', 'r') as file:
    json_data = json.load(file)

In [457]:
# Extract the 'data' key from the JSON data
articles = json_data['data']

In [458]:
# Normalize the nested 'stockLedgerDetail' data
df_stock_ledger_details = pd.json_normalize(
    articles,
    record_path='stockLedgerDetail',
    meta=['articleId', 'articleCode', 'articleName', 'categoryDescription', 'qtyBalance', 'cost'],
    sep='_', meta_prefix='meta_',
    errors='ignore'
)

In [459]:
# Filter out rows where 'cost' is 0
df_stock_ledger_details = df_stock_ledger_details[df_stock_ledger_details['meta_cost'] != 0]

In [460]:
df_stock_ledger_details = df_stock_ledger_details.rename(columns={"meta_articleName": "Article Name", "meta_articleCode": "Article Code"})

In [461]:
df_stock_ledger_details['Article Code'] = df_stock_ledger_details['Article Code'].str.strip()
df_stock_ledger_details['Article Name'] = df_stock_ledger_details['Article Name'].str.strip(".")
df_stock_ledger_details['Article Name'] = df_stock_ledger_details['Article Name'].str.strip(" ")
df_stock_ledger_details.head()

,voucherId,voucherCode,voucherType,consignee,consigneeName,issueDate,recQty,recUamt,recTamt,issQty,...,issTamt,qtyBalance,amtBalance,wac,meta_articleId,Article Code,Article Name,meta_categoryDescription,meta_qtyBalance,meta_cost
2,NaN,None,Beginning,0,None,2023-07-07T23:23:00,193.0,27.11,5232.23,NaN,...,NaN,193.0,NaN,27.11,483,1501 0001,BAKING POWDER.(100G),Cake.,609.0,33.941905
3,65201.0,SI-000022-DH1,Store Issue Voucher,0,Dh Branch,2023-07-17T11:18:45.89,NaN,NaN,NaN,1.0,...,27.11,192.0,5205.12,27.11,483,1501 0001,BAKING POWDER.(100G),Cake.,609.0,33.941905
4,51099.0,SI-000013-BL2,Store Issue Voucher,0,Bole (2) Branch,2023-07-17T14:01:25.657,NaN,NaN,NaN,1.0,...,27.11,191.0,5178.01,27.11,483,1501 0001,BAKING POWDER.(100G),Cake.,609.0,33.941905
5,51962.0,SI-000016-MNY1,Store Issue Voucher,0,Menaye Branch,2023-07-17T14:54:22.053,NaN,NaN,NaN,1.0,...,27.11,190.0,5150.90,27.11,483,1501 0001,BAKING POWDER.(100G),Cake.,609.0,33.941905
6,56837.0,SI-000012-BTL3,Store Issue Voucher,0,Betele Branch,2023-07-18T19:58:04.143,NaN,NaN,NaN,1.0,...,27.11,189.0,5123.79,27.11,483,1501 0001,BAKING POWDER.(100G),Cake.,609.0,33.941905

In [462]:
df_stock_ledger_details['meta_cost'] = df_stock_ledger_details['meta_cost'].astype(float)

### Getting data for the semi finished cake categories

In [463]:
items_cost = pd.read_excel("C:\Cost Reporting Automation\Article Code and Cost.xlsx", sheet_name='Item')
semi_finished_cakes = pd.read_excel("C:\Cost Reporting Automation\Article Code and Cost.xlsx", sheet_name='Semi-Finished')
product_cost = pd.read_excel("C:\Cost Reporting Automation\Article Code and Cost.xlsx", sheet_name='Products')

In [464]:
items_cost = items_cost[items_cost.Cost !=0]

In [465]:
# Function to clean the text like (KGs) or (PCs)
def clean_text(text):
    return re.sub(r'\.\s*\(.*\)$', '', text)

# Apply the function to the 'item' column
items_cost['Article Name'] = items_cost['Article Name'].apply(clean_text)
items_cost.head()

  Article Code     Article Name Category  Qty.Balance     Cost  Total Value
1    1501 0001    BAKING POWDER   BEER I       609.00    33.94     20670.62
2    1501 0002  VANILLA POWEDER   BEER I       115.00  2086.96    240000.40
3    1501 0003              JAM   BEER I       513.00   157.13     80605.18
4    1501 0004    CINAMON STICK   BEER I       393.25   606.38    238457.05
5    1501 0005    COCOA POWEDER   BEER I       164.00   477.80     78359.33

In [466]:
items_cost['Article Code'] = items_cost['Article Code'].astype(str)

In [467]:
semi_finished_cakes = semi_finished_cakes[semi_finished_cakes.Cost != 0]
semi_finished_cakes.head()

,Article Code,Article Name,Category,Qty.Balance,Cost,Total Value
0,1515 0001,BANANA CAKE.,Cake.,-3504.0,13.5600,-35273976.66
1,1515 0002,BIGNE 3PCS .,Cake.,2542.0,13.4796,191914.19
2,1515 0003,CHOCOLATE MILIFONI .,Cake.,2957.1,17.9640,518116.28
3,1515 0004,ENGLISH CAKE .,Cake.,-2546.0,11.5227,920293.77
4,1515 0005,FASTING MILLIFONE .,Cake.,-2984.0,18.7071,-48165.34

In [468]:
semi_finished_cakes['Article Code'] = semi_finished_cakes['Article Code'].astype(str)

In [469]:
semi_finished_cakes['Article Name'] = semi_finished_cakes['Article Name'].str.rstrip('.')
semi_finished_cakes['Article Name'] = semi_finished_cakes['Article Name'].str.rstrip(' ')
semi_finished_cakes.head()

  Article Code        Article Name Category  Qty.Balance     Cost  Total Value
0    1515 0001         BANANA CAKE    Cake.      -3504.0  13.5600 -35273976.66
1    1515 0002          BIGNE 3PCS    Cake.       2542.0  13.4796    191914.19
2    1515 0003  CHOCOLATE MILIFONI    Cake.       2957.1  17.9640    518116.28
3    1515 0004        ENGLISH CAKE    Cake.      -2546.0  11.5227    920293.77
4    1515 0005   FASTING MILLIFONE    Cake.      -2984.0  18.7071    -48165.34

In [470]:
product_cost = product_cost[product_cost.Cost != 0]

In [471]:
product_cost['Article Name'] = product_cost['Article Name'].str.rstrip('.')
product_cost['Article Name'] = product_cost['Article Name'].str.rstrip(' ')

In [472]:
product_cost['Article Code'] = product_cost['Article Code'].astype(str)

#### Standardizing the sub category names into standard naming

In [473]:
# Create a mapping dictionary for subcategory names
subCategory_mapping_dict = {
    'CAKE.' : 'CAKE',
    'COFFEE': 'COFFEE ROASTED',
    'FAST FOOD.' : 'FAST FOOD',
    'BOTTLED BEVERAGE I': 'BOTTLED BEVERAGE',
    'HOT BEVERAGE I': 'HOT BEVERAGE',
    'MILK I': 'POUCH MILK',
    'YOGHURT I': 'YOGHURT',
    'JUICE I': 'JUICE',
    'PASTRY I': 'PASTRY',
    'SEMI CAKE': 'CAKE',
    'BOTTLED BEVERAGE.': 'BOTTLED BEVERAGE',
    'MILK.': 'POUCH MILK',
    'FAST FOOD I' : 'FAST FOOD',   
    'PACKING I' : 'PACKING',
    'CLEANING I' : 'CLEANING',
    'CUP I' : 'CUP',
    'STATIONARY I' : 'STATIONARY',
    'SUPPLY I' : 'SUPPLY',
    'PIZZA' : 'FAST FOOD',
    'HOT CUP' : 'CUP',
    'ICE CREAM.' : 'ICE CREAM',
    'AP BEER' : 'BEER',
    'AP BOTTLED BEVERAGE' : 'BOTTLED BEVERAGE',
    'AP CAKE' : 'AP CAKE',
    'AP FAST FOOD' : 'FAST FOOD',
    'AP GIN' : 'ALCOHOL',
    'AP HOT BEVERAGE' : 'HOT BEVERAGE',
    'AP JUICE' : 'JUICE',
    'AP LIQUEUR' : 'ALCOHOL',
    'AP PIZZA' : 'FAST FOOD',
    'AP RUM' : 'ALCOHOL',
    'AP TEQUILA' : 'ALCOHOL',
    'AP VODKA' : 'ALCOHOL',
    'AP WHISKEY' : 'ALCOHOL',
    'AP WINE' : 'WINE',
    'BEER I' : 'BEER',
    'ELECTRICAL I' : 'ELECTRICAL'

}

In [474]:
# Define a function to apply the mapping with default to original value
def apply_mapping(name, mapping_dict):
    name_uppper = name.upper()
    # Convert all keys in the dictionary to uppercase for case-insensitive matching
    mapping_dict_upper = {key.upper(): value for key, value in mapping_dict.items()}
    return mapping_dict_upper.get(name, name)

#### Extracting the branch namme for each report

In [475]:
# Getting the branch name
# Regular expression pattern
def extractBranchName(branchName):
    pattern = r"Voucher Organization Unit = (.*?),"

    # Extract the text using regex
    match = re.search(pattern, branchName)

    # Check if match is found
    if match:
        organization_unit = match.group(1)
        return organization_unit
        #print("Voucher Organization Unit:", organization_unit)
    else:
        organization_unit = 'Not Found'
        return organization_unit
        print("No match found.")

#### Function to change the subcategory of stuff Items in a different sub-category

In [476]:
def SubCat_to_STUFF(df):
    article_codes = ['1515 2008', '1505 0003']
    
    # Update the Subcategory column based on the condition
    df.loc[df['Article Code'].isin(article_codes), 'Subcategory'] = 'STUFF'
    return df

# Customer Complain

In [477]:
# Extracting the branch name and date
complain_meta_Info =  str(complain["Unnamed: 0"].iat[7])

In [478]:
complain_branchName = extractBranchName(complain_meta_Info)

In [479]:
complain = complain.drop(complain.index[:9])

In [480]:
complain["Unnamed: 0"] = complain["Unnamed: 0"].ffill()

In [481]:
complain["Unnamed: 1"] = complain["Unnamed: 1"].ffill()

In [482]:
complain["Unnamed: 2"] = complain["Unnamed: 2"].astype(object)

In [483]:
complain = complain[["Unnamed: 0", "Unnamed: 1", "Unnamed: 2", "Unnamed: 5", "Unnamed: 7","Unnamed: 10"]]

In [484]:
complain.loc[9, "Unnamed: 2"] = "Article Code"

In [485]:
complain.reset_index(inplace=True)

In [486]:
complain.drop(columns="index", inplace=True)

In [487]:
complain.columns = complain.iloc[0]

In [488]:
complain.drop(complain.index[:2], inplace=True)

In [489]:
complain.dropna(subset=['Article Code'], inplace=True)

In [490]:
complain.fillna(value=0, inplace=True)

In [491]:
complain["Article Code"] = complain["Article Code"].astype(str).str.split('.').str[0]

In [492]:
complain["Quantity"] = complain["Quantity"].astype(float)

#### Standardizing the sub category names into standard naming

In [493]:
complain["Sub Category"] = complain["Sub Category"].str.rstrip('.')
complain["Sub Category"] = complain["Sub Category"].str.rstrip(' ')

In [494]:
# Apply the mapping function to the second dataframe
complain["Sub Category"] = complain["Sub Category"].apply(lambda x: apply_mapping(x, subCategory_mapping_dict))

In [495]:
complain.head()

,Catagory,Sub Category,Article Code,Article Name,Quantity,Avg Amount
3,BEVERAGE,BOTTLED BEVERAGE,1003,BOTTLE WATER 600ML,1.000,27.5
5,BEVERAGE,BOTTLED BEVERAGE,1002,SOFT DRINK,1.000,41.67
9,BEVERAGE,JUICE,7005,PAPAYA JUICE,0.277,97.5018
10,BEVERAGE,JUICE,7003,AVOCADO JUICE,0.800,97.5
16,MILK,MILK,1101,POUCH MILK 1/2LIT,3.000,48

In [496]:
# Collecting STUFF Items
complain = SubCat_to_STUFF(complain)

In [497]:
complain.rename(columns={'Avg Amount': 'Product_price'}, inplace=True)
complain['Product_price'] = complain['Product_price'].astype(float)
complain['Article Code'] = complain['Article Code'].astype(str)

In [498]:
# First Searching for the exact product using its article code and name
final_complain = pd.merge(complain, df_stock_ledger_details[['Article Code', 'Article Name', 'meta_cost']], on=['Article Code', 'Article Name'], how='left')

In [499]:
final_complain1 = pd.merge(final_complain, product_cost[['Article Code','Article Name', 'Cost']], on=['Article Code','Article Name'], how='left', suffixes=('', '_Product'))

In [500]:
final_complain2 = pd.merge(final_complain1, semi_finished_cakes[['Article Name', 'Cost']], on=['Article Name'], how='left', suffixes=('', '_semi_finished'))

In [501]:
# Moving to the next option, looking for matching product name, regardless of its article code
final_complain3 = pd.merge(final_complain2, items_cost[['Article Name', 'Cost']], on=['Article Name'], how='left', suffixes=('', '_item'))

In [502]:
final_complain3['Cost'] = final_complain3['Cost'].combine_first(
    final_complain3['Cost_semi_finished']).combine_first(final_complain3['Cost_item']).combine_first(final_complain3['meta_cost']).combine_first(final_complain3['Product_price'])

In [503]:
cleaned_complain = final_complain3.loc[: ,['Catagory', 'Sub Category', 'Article Code', 'Article Name', 'Quantity', 'Cost']]
cleaned_complain['Total Amount'] = cleaned_complain['Quantity'] * cleaned_complain['Cost']

### Summarizing Complain Cost

In [504]:
complain_grouped_by_subCat = cleaned_complain.groupby("Sub Category")["Total Amount"].sum().reset_index()

In [505]:
complain_grouped_by_ParentCat = cleaned_complain.groupby("Catagory")["Total Amount"].sum()

In [506]:
complain_grouped_by_Product = cleaned_complain.groupby(["Article Code","Article Name"])["Total Amount"].sum()

# Damage

In [507]:
# Extracting the branch name and date
damage_meta_info =  damage["Unnamed: 0"].iat[7]

In [508]:
damage_branchName = extractBranchName(damage_meta_info)

In [509]:
damage = damage.drop(damage.index[:9])

In [510]:
damage["Unnamed: 0"] = damage["Unnamed: 0"].ffill()

In [511]:
damage["Unnamed: 1"] = damage["Unnamed: 1"].ffill()

In [512]:
damage = damage[["Unnamed: 0", "Unnamed: 1", "Unnamed: 2", "Unnamed: 5", "Unnamed: 7","Unnamed: 10","Unnamed: 12"]]

In [513]:
damage.loc[9, "Unnamed: 2"] = "Article Code"

In [514]:
damage.reset_index(inplace=True)

In [515]:
damage.drop(columns="index", inplace=True)

In [516]:
damage.columns = damage.iloc[0]

In [517]:
damage.drop(damage.index[:2], inplace=True)

In [518]:
damage.dropna(subset=['Article Code'], inplace=True)

In [519]:
damage.fillna(value=0, inplace=True)

#### Standardizing the sub category names into standard naming

In [520]:
damage["Sub Category"] = damage["Sub Category"].str.rstrip('.')
damage["Sub Category"] = damage["Sub Category"].str.rstrip(' ')

In [521]:
# Apply the mapping function to the second dataframe
damage['Sub Category'] = damage['Sub Category'].apply(lambda x: apply_mapping(x, subCategory_mapping_dict))

In [522]:
# Collecting STUFF Items
damage = SubCat_to_STUFF(damage)

#### Grouping the damage data

In [523]:
damage_grouped_by_subCat = damage.groupby("Sub Category")["Total Amount"].sum().reset_index()

In [524]:
damage_grouped_by_ParentCat = damage.groupby("Catagory")["Total Amount"].sum().reset_index()

In [525]:
damage_grouped_by_Product = damage.groupby(["Article Code","Article Name"])["Total Amount"].sum().reset_index()

## Product Item Transfer In

In [526]:
# Extracting the branch name and date
FProdTrans_IN_meta_info =  ProdTrans_IN["Unnamed: 0"].iat[7]

In [527]:
FProdTrans_IN_branchName = extractBranchName(FProdTrans_IN_meta_info)

In [528]:
ProdTrans_IN = ProdTrans_IN.drop(ProdTrans_IN.index[:9])

In [529]:
ProdTrans_IN["Unnamed: 0"] = ProdTrans_IN["Unnamed: 0"].ffill()

In [530]:
ProdTrans_IN["Unnamed: 1"] = ProdTrans_IN["Unnamed: 1"].ffill()

In [531]:
ProdTrans_IN = ProdTrans_IN[["Unnamed: 0", "Unnamed: 1", "Unnamed: 2", "Unnamed: 5", "Unnamed: 7","Unnamed: 10", "Unnamed: 12"]]

In [532]:
ProdTrans_IN.loc[9, "Unnamed: 2"] = "Article Code"

In [533]:
ProdTrans_IN.reset_index(inplace=True)

In [534]:
ProdTrans_IN.drop(columns="index", inplace=True)

In [535]:
ProdTrans_IN.columns = ProdTrans_IN.iloc[0]

In [536]:
ProdTrans_IN.drop(ProdTrans_IN.index[:2], inplace=True)

In [537]:
ProdTrans_IN.dropna(subset=['Article Code'], inplace=True)

In [538]:
ProdTrans_IN.fillna(value=0, inplace=True)

### standardizing sub categories

In [539]:
ProdTrans_IN["Sub Category"] = ProdTrans_IN["Sub Category"].str.rstrip('.')
ProdTrans_IN["Sub Category"] = ProdTrans_IN["Sub Category"].str.rstrip(' ')

In [540]:
# Apply the mapping function to the second dataframe
ProdTrans_IN['Sub Category'] = ProdTrans_IN['Sub Category'].apply(lambda x: apply_mapping(x, subCategory_mapping_dict))

In [541]:
# Collecting STUFF Items
ProdTrans_IN = SubCat_to_STUFF(ProdTrans_IN)

In [542]:
FinishedProdTrans_IN_by_subCat = ProdTrans_IN.groupby("Sub Category")["Total Amount"].sum().reset_index()

In [543]:
FProdTrans_IN_grouped_by_ParentCat = ProdTrans_IN.groupby("Catagory")["Total Amount"].sum()

In [544]:
FProdTrans_IN_grouped_by_Product = ProdTrans_IN.groupby(["Article Code","Article Name"])["Total Amount"].sum().reset_index()

# Finished Product Transfer

In [545]:
# Extracting the branch name and date
FProdTrans_OUT_meta_info =  FinishedProdTrans["Unnamed: 0"].iat[7]

In [546]:
FProdTrans_OUT_branchName = extractBranchName(FProdTrans_OUT_meta_info)

In [547]:
FinishedProdTrans = FinishedProdTrans.drop(FinishedProdTrans.index[:9])

In [548]:
FinishedProdTrans["Unnamed: 0"] = FinishedProdTrans["Unnamed: 0"].ffill()

In [549]:
FinishedProdTrans["Unnamed: 1"] = FinishedProdTrans["Unnamed: 1"].ffill()

In [550]:
FinishedProdTrans = FinishedProdTrans[["Unnamed: 0", "Unnamed: 1", "Unnamed: 2", "Unnamed: 5", "Unnamed: 7","Unnamed: 10","Unnamed: 12"]]

In [551]:
FinishedProdTrans.loc[9, "Unnamed: 2"] = "Article Code"

In [552]:
FinishedProdTrans.reset_index(inplace=True)

In [553]:
FinishedProdTrans.drop(columns="index", inplace=True)

In [554]:
FinishedProdTrans.columns = FinishedProdTrans.iloc[0]

In [555]:
FinishedProdTrans.drop(FinishedProdTrans.index[:2], inplace=True)

In [556]:
FinishedProdTrans.dropna(subset=['Article Code'], inplace=True)

In [557]:
FinishedProdTrans.fillna(value=0, inplace=True)

### standardizing sub categories

In [558]:
# Ensure the column is of string type before applying string operations
FinishedProdTrans['Sub Category'] = FinishedProdTrans['Sub Category'].astype(str)

In [559]:
FinishedProdTrans["Sub Category"] = FinishedProdTrans["Sub Category"].str.rstrip('.')
FinishedProdTrans["Sub Category"] = FinishedProdTrans["Sub Category"].str.rstrip(' ')

In [560]:
# Apply the mapping function to the second dataframe
FinishedProdTrans['Sub Category'] = FinishedProdTrans['Sub Category'].apply(lambda x: apply_mapping(x, subCategory_mapping_dict))

In [561]:
# Collecting STUFF Items
FinishedProdTrans = SubCat_to_STUFF(FinishedProdTrans)

In [562]:
FinishedProdTrans_grouped_by_subCat = FinishedProdTrans.groupby("Sub Category")["Total Amount"].sum().reset_index()

In [563]:
FinishedProdTrans_grouped_by_ParentCat = FinishedProdTrans.groupby("Catagory")["Total Amount"].sum().reset_index()

In [564]:
FinishedProdTrans_grouped_by_Product = FinishedProdTrans.groupby(["Article Code","Article Name"])["Total Amount"].sum().reset_index()

# Motivation

In [565]:
# Extracting the branch name and date
motivation_meta_info =  motivation["Unnamed: 0"].iat[7]

In [566]:
motivation_branchName = extractBranchName(motivation_meta_info)

In [567]:
motivation = motivation.drop(motivation.index[:9])

In [568]:
motivation["Unnamed: 0"] = motivation["Unnamed: 0"].ffill()

In [569]:
motivation["Unnamed: 1"] = motivation["Unnamed: 1"].ffill()

In [570]:
motivation = motivation[["Unnamed: 0", "Unnamed: 1", "Unnamed: 2", "Unnamed: 5", "Unnamed: 7","Unnamed: 10","Unnamed: 12"]]

In [571]:
motivation.loc[9, "Unnamed: 2"] = "Article Code"

In [572]:
motivation.reset_index(inplace=True)

In [573]:
motivation.drop(columns="index", inplace=True)

In [574]:
motivation.columns = motivation.iloc[0]

In [575]:
motivation.drop(motivation.index[:2], inplace=True)

In [576]:
motivation.dropna(subset=['Article Code'], inplace=True)

In [577]:
motivation.fillna(value=0, inplace=True)

In [578]:
motivation["Article Code"] = motivation["Article Code"].astype(str).str.split('.').str[0]

In [579]:
motivation["Quantity"] = motivation["Quantity"].astype(float)

### Standardizing motivation sub category

In [580]:
motivation["Sub Category"] = motivation["Sub Category"].str.rstrip('.')
motivation["Sub Category"] = motivation["Sub Category"].str.rstrip(' ')

In [581]:
# Apply the mapping function to the second dataframe
motivation['Sub Category'] = motivation['Sub Category'].apply(lambda x: apply_mapping(x, subCategory_mapping_dict))

In [582]:
# Collecting STUFF Items
motivation = SubCat_to_STUFF(motivation)

In [583]:
motivation.rename(columns={'Avg Amount': 'Product_price'}, inplace=True)
motivation['Product_price'] = motivation['Product_price'].astype(float)
motivation['Article Code'] = motivation['Article Code'].astype(str)

In [584]:
# First Searching for the exact product using its article code and name
final_motivation = pd.merge(motivation, df_stock_ledger_details[['Article Code', 'Article Name', 'meta_cost']], on=['Article Code', 'Article Name'], how='left')

In [585]:
final_motivation1 = pd.merge(final_motivation, product_cost[['Article Code','Article Name', 'Cost']], 
                             on=['Article Code','Article Name'], how='left', suffixes=('', '_Product'))

In [586]:
final_motivation2 = pd.merge(final_motivation1, semi_finished_cakes[['Article Name', 'Cost']], 
                             on=['Article Name'], how='left', suffixes=('', '_semi_finished'))

In [587]:
# Moving to the next option, looking for matching product name, regardless of its article code
final_motivation3 = pd.merge(final_motivation2, items_cost[['Article Name', 'Cost']], 
                             on=[ 'Article Name'], how='left', suffixes=('', '_item'))

In [588]:
final_motivation3['Cost'] = final_motivation3['Cost'].combine_first(
    final_motivation3['Cost_semi_finished']).combine_first(final_motivation3['Cost_item']).combine_first(
        final_motivation3['meta_cost']).combine_first(final_motivation3['Product_price'])
final_motivation3.drop_duplicates(inplace=True)

In [589]:
cleaned_motivation = final_motivation3.loc[: ,['Catagory', 'Sub Category', 'Article Code', 'Article Name', 'Quantity', 'Cost']]
cleaned_motivation['Total Amount'] = cleaned_motivation['Quantity'] * cleaned_motivation['Cost']

In [590]:
motivation_grouped_by_subCat = cleaned_motivation.groupby("Sub Category")["Total Amount"].sum().reset_index()

In [591]:
motivation_grouped_by_ParentCat = cleaned_motivation.groupby("Catagory")["Total Amount"].sum()

In [592]:
motivation_grouped_by_Product = motivation.groupby(["Article Code","Article Name"])["Total Amount"].sum()

# Product Item Transfer OUT

In [593]:
# Extracting the branch name and date
ProdTrans_OUT_meta_info =  ProdTrans_OUT["Unnamed: 0"].iat[7]

In [594]:
# Extract the branchName
# Regular expression pattern
pattern =  r"Source Store = (.*?)(?= \()"

# Extract the text using regex
match = re.search(pattern, ProdTrans_OUT_meta_info)

# Check if match is found
if match:
    ProdTrans_OUT_branchName = match.group(1) + " Branch"
    print("Destination Store:", ProdTrans_OUT_branchName)
else:
    ProdTrans_OUT_branchName = 'No Match'
    print("No match found.")

No match found.

In [595]:
ProdTrans_OUT = ProdTrans_OUT.drop(ProdTrans_OUT.index[:9])

In [596]:
ProdTrans_OUT["Unnamed: 0"] = ProdTrans_OUT["Unnamed: 0"].ffill()

In [597]:
ProdTrans_OUT["Unnamed: 1"] = ProdTrans_OUT["Unnamed: 1"].ffill()

In [598]:
ProdTrans_OUT["Unnamed: 2"] = ProdTrans_OUT["Unnamed: 2"].astype(object)

In [599]:
ProdTrans_OUT = ProdTrans_OUT[["Unnamed: 0", "Unnamed: 1", "Unnamed: 2", "Unnamed: 5", "Unnamed: 7","Unnamed: 10","Unnamed: 12",]]

In [600]:
ProdTrans_OUT.loc[9, "Unnamed: 2"] = "Article Code"

In [601]:
ProdTrans_OUT.reset_index(inplace=True)

In [602]:
ProdTrans_OUT.drop(columns="index", inplace=True)

In [603]:
ProdTrans_OUT.columns = ProdTrans_OUT.iloc[0]

In [604]:
ProdTrans_OUT.drop(ProdTrans_OUT.index[:2], inplace=True)

In [605]:
ProdTrans_OUT.dropna(subset=['Article Code'], inplace=True)

In [606]:
ProdTrans_OUT.fillna(value=0, inplace=True)

### Standardizing sub category

In [607]:
ProdTrans_OUT["Sub Category"] = ProdTrans_OUT["Sub Category"].str.rstrip('.')
ProdTrans_OUT["Sub Category"] = ProdTrans_OUT["Sub Category"].str.rstrip(' ')

In [608]:
# Apply the mapping function to the second dataframe
ProdTrans_OUT['Sub Category'] = ProdTrans_OUT['Sub Category'].apply(lambda x: apply_mapping(x, subCategory_mapping_dict))

In [609]:
# Collecting STUFF Items
ProdTrans_OUT = SubCat_to_STUFF(ProdTrans_OUT)

In [610]:
ProdTrans_OUT_grouped_by_subCat = ProdTrans_OUT.groupby("Sub Category")["Total Amount"].sum().reset_index()

In [611]:
ProdTrans_OUT_grouped_by_ParentCat = ProdTrans_OUT.groupby("Catagory")["Total Amount"].sum().reset_index()

In [612]:
ProdTrans_OUT_grouped_by_Product = ProdTrans_OUT.groupby(["Article Code","Article Name"])["Total Amount"].sum().reset_index()

# SIV and Fresh Bazar

In [613]:
# Extracting the branch name and date
SIV_meta_info =  SIV_Fresh_Bazar["Unnamed: 0"].iat[7]

In [614]:
SIV_branchName = extractBranchName(SIV_meta_info)

In [615]:
SIV_Fresh_Bazar = SIV_Fresh_Bazar.drop(SIV_Fresh_Bazar.index[:9])

In [616]:
SIV_Fresh_Bazar["Unnamed: 0"] = SIV_Fresh_Bazar["Unnamed: 0"].ffill()

In [617]:
SIV_Fresh_Bazar["Unnamed: 1"] = SIV_Fresh_Bazar["Unnamed: 1"].ffill()

In [618]:
SIV_Fresh_Bazar = SIV_Fresh_Bazar[["Unnamed: 0", "Unnamed: 1", "Unnamed: 2", "Unnamed: 5", "Unnamed: 7","Unnamed: 10","Unnamed: 12",]]

In [619]:
SIV_Fresh_Bazar.loc[9, "Unnamed: 2"] = "Article Code"

In [620]:
SIV_Fresh_Bazar.reset_index(inplace=True)

In [621]:
SIV_Fresh_Bazar.drop(columns="index", inplace=True)

In [622]:
SIV_Fresh_Bazar.columns = SIV_Fresh_Bazar.iloc[0]

In [623]:
SIV_Fresh_Bazar.drop(SIV_Fresh_Bazar.index[:2], inplace=True)

In [624]:
SIV_Fresh_Bazar.dropna(subset=['Article Code'], inplace=True)

In [625]:
SIV_Fresh_Bazar.fillna(value=0, inplace=True)

### Standardizing sub category

In [626]:
SIV_Fresh_Bazar["Sub Category"] = SIV_Fresh_Bazar["Sub Category"].str.rstrip('.')
SIV_Fresh_Bazar["Sub Category"] = SIV_Fresh_Bazar["Sub Category"].str.rstrip(' ')

In [627]:
# Apply the mapping function to the second dataframe
SIV_Fresh_Bazar['Sub Category'] = SIV_Fresh_Bazar['Sub Category'].apply(lambda x: apply_mapping(x, subCategory_mapping_dict))

In [628]:
# Collecting STUFF Items
SIV_Fresh_Bazar = SubCat_to_STUFF(SIV_Fresh_Bazar)

In [629]:
SIV_Fresh_grouped_by_subCat = SIV_Fresh_Bazar.groupby("Sub Category")["Total Amount"].sum().reset_index()

In [630]:
SIV_grouped_by_ParentCat = SIV_Fresh_Bazar.groupby("Catagory")["Total Amount"].sum().reset_index()

In [631]:
SIV_grouped_by_Product = SIV_Fresh_Bazar.groupby(["Article Code","Article Name"])["Total Amount"].sum().reset_index()

### Sales

In [632]:
# Extracting the branch name and date
Sales_meta_info =  Sales["Unnamed: 0"].iat[7]

In [633]:
Sales_branchName = extractBranchName(Sales_meta_info)

In [634]:
Sales = Sales.drop(Sales.index[:9])

In [635]:
Sales["Unnamed: 0"] = Sales["Unnamed: 0"].ffill()

In [636]:
Sales["Unnamed: 1"] = Sales["Unnamed: 1"].ffill()

In [637]:
Sales =  Sales[["Unnamed: 0", "Unnamed: 1", "Unnamed: 2", "Unnamed: 5", "Unnamed: 7","Unnamed: 10","Unnamed: 12"]]

In [638]:
Sales.loc[9, "Unnamed: 2"] = "Article Code"

C:\Users\Enimamar-1\AppData\Local\Temp\ipykernel_7604\2332117736.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Article Code' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  Sales.loc[9, "Unnamed: 2"] = "Article Code"

In [639]:
Sales.reset_index(inplace=True)

In [640]:
Sales.drop(columns="index", inplace=True)

In [641]:
Sales.columns = Sales.iloc[0]

In [642]:
Sales.drop(Sales.index[:2], inplace=True)

In [643]:
Sales.dropna(subset=['Article Code'], inplace=True)

In [644]:
Sales.fillna(value=0, inplace=True)

### standardizing sub categories

In [645]:
Sales["Sub Category"] = Sales["Sub Category"].str.rstrip('.')
Sales["Sub Category"] = Sales["Sub Category"].str.rstrip(' ')

In [646]:
# Apply the mapping function to the second dataframe
Sales['Sub Category'] = Sales['Sub Category'].apply(lambda x: apply_mapping(x, subCategory_mapping_dict))

In [647]:
# Collecting STUFF Items
Sales = SubCat_to_STUFF(Sales)

In [648]:
Sales_grouped_by_subCat = Sales.groupby("Sub Category")["Total Amount"].sum().reset_index()

In [649]:
Sales_grouped_by_ParentCat = Sales.groupby("Catagory")["Total Amount"].sum().reset_index()

In [650]:
Sales_grouped_by_Product = Sales.groupby(["Article Code","Article Name"])["Total Amount"].sum().reset_index()

## BBF

In [651]:
BBF.rename(columns={'total cost':'Total Amount'}, inplace=True)

In [652]:
BBF_grouped_by_subcat = BBF.groupby("Sub Category")["Total Amount"].sum().reset_index()
BBF_grouped_by_subcat

        Sub Category  Total Amount
0   BOTTLED BEVERAGE   2508.376400
1               CAKE   3254.632226
2           CLEANING    180.365900
3             COFFEE      0.000000
4                CUP   1205.670000
5          FAST FOOD  25974.561702
6          FRAPICINO      0.000000
7       HOT BEVERAGE  10329.915850
8          ICE CREAM  12424.890540
9              JUICE   2299.850791
10              MILK      0.000000
11  PACKING MATERIAL  78216.829700
12        POUCH MILK    304.000000
13             Pizza      0.000000
14        STATIONARY    159.340000
15             STUFF    199.385200
16            SUPPLY  19182.206000

# On Hand

In [653]:
On_Hand.rename(columns={'total cost':'Total Amount'}, inplace=True)

In [654]:
On_Hand_grouped_by_subcat = On_Hand.groupby("Sub Category")["Total Amount"].sum().reset_index()
On_Hand_grouped_by_subcat

        Sub Category  Total Amount
0   BOTTLED BEVERAGE    924.752600
1               CAKE   2415.364548
2           CLEANING    100.209592
3             COFFEE    666.893000
4                CUP    389.148400
5          FAST FOOD  25546.323757
6          FRAPICINO      0.000000
7       HOT BEVERAGE   5191.845302
8          ICE CREAM   7426.505426
9              JUICE   2133.960144
10              MILK    253.920000
11  PACKING MATERIAL   1543.676800
12        POUCH MILK    152.000000
13             Pizza      0.000000
14        STATIONARY    108.250000
15             STUFF      0.678986
16            SUPPLY  18596.971000

# Summerizing the data

##### Using the subcategories available in the above dataframes

In [655]:
# # Create a list of sub categories
# SIV_list = SIV_Fresh_grouped_by_subCat["Sub Category"].tolist()
# FinishProdTrans_list = FinishedProdTrans_grouped_by_subCat["Sub Category"].tolist()
# ProdTrans_IN_list = FinishedProdTrans_IN_by_subCat["Sub Category"].tolist()
# ProdTrans_OUT_list = ProdTrans_OUT_grouped_by_subCat["Sub Category"].tolist()
# Complain_list = complain_grouped_by_subCat["Sub Category"].tolist()
# motivation_list = motivation_grouped_by_subCat["Sub Category"].tolist()
# damage_list = damage_grouped_by_subCat["Sub Category"].tolist()
# Sales_list = Sales_grouped_by_subCat["Sub Category"].tolist()
# BBF_list = BBF_grouped_by_subcat["Sub Category"].tolist()
# On_Hand_list = On_Hand_grouped_by_subcat["Sub Category"].tolist()

In [656]:

# combined_list = list(chain( FinishProdTrans_list, ProdTrans_IN_list, ProdTrans_OUT_list, Complain_list, motivation_list, damage_list, Sales_list, SIV_list, BBF_list, On_Hand_list))
# # Convert the combined list to a set
# unique_set = set(combined_list)

In [657]:
# Using pre-defined categories for index

In [658]:
unique_set = ['BOTTLED BEVERAGE', 'CUP', 'HOT BEVERAGE',  'CAKE', 'ICE CREAM', 'FAST FOOD', 'JUICE', 'COFFEE',  
              'YOGHURT', 'POUCH MILK', 'SUPPLY', 'STATIONARY', 'CLEANING', 'PACKING MATERIAL', 'STUFF' ]

In [659]:
final = pd.DataFrame(unique_set, columns=['Sub Category'])

In [660]:
OnHand_merged_df = pd.merge(final, BBF_grouped_by_subcat, on='Sub Category', how='left')
OnHand_merged_df.rename(columns={'Total Amount': 'BBF'}, inplace=True)

In [661]:
SIV_merged_df = pd.merge(OnHand_merged_df, SIV_Fresh_grouped_by_subCat, on='Sub Category', how='left')
SIV_merged_df.rename(columns={'Total Amount': 'Direct Cost'}, inplace=True)

In [662]:
OnHand_merged_df = pd.merge(SIV_merged_df, On_Hand_grouped_by_subcat, on='Sub Category', how='left')
OnHand_merged_df.rename(columns={'Total Amount': 'ON HAND'}, inplace=True)

In [663]:
FinishedProdTrans_merged_df = pd.merge(OnHand_merged_df, FinishedProdTrans_grouped_by_subCat, on='Sub Category', how='left')
FinishedProdTrans_merged_df.rename(columns={'Total Amount': 'Production Cost'}, inplace=True)

In [664]:
ProdTrans_IN_merged_df = pd.merge(FinishedProdTrans_merged_df, FinishedProdTrans_IN_by_subCat, on='Sub Category', how='left')
ProdTrans_IN_merged_df.rename(columns={'Total Amount': 'TRN IN'}, inplace=True)

In [665]:
ProdTrans_OUT_merged_df = pd.merge(ProdTrans_IN_merged_df, ProdTrans_OUT_grouped_by_subCat, on='Sub Category', how='left')
ProdTrans_OUT_merged_df.rename(columns={'Total Amount': 'TRN OUT'}, inplace=True)

In [666]:
complain_merged_df = pd.merge(ProdTrans_OUT_merged_df, complain_grouped_by_subCat, on='Sub Category', how='left')
complain_merged_df.rename(columns={'Total Amount': 'Complain'}, inplace=True)

In [667]:
motivation_merged_df = pd.merge(complain_merged_df, motivation_grouped_by_subCat, on='Sub Category', how='left')
motivation_merged_df.rename(columns={'Total Amount': 'Motivation'}, inplace=True)

In [668]:
damage_merged_df = pd.merge(motivation_merged_df, damage_grouped_by_subCat, on='Sub Category', how='left')
damage_merged_df.rename(columns={'Total Amount': 'Damage'}, inplace=True)

In [669]:
Sales_merged_df = pd.merge(damage_merged_df, Sales_grouped_by_subCat, on='Sub Category', how='left')
Sales_merged_df.rename(columns={'Total Amount': 'Sales'}, inplace=True)

### Preparing the final report

In [697]:
final_Report = Sales_merged_df.copy()

In [698]:
# Replace non-numeric values with NaN and convert to float
final_Report["Production Cost"] = pd.to_numeric(final_Report["Production Cost"], errors='coerce')
final_Report["Direct Cost"] = pd.to_numeric(final_Report["Direct Cost"], errors='coerce')
final_Report["TRN IN"] = pd.to_numeric(final_Report["TRN IN"], errors='coerce')
final_Report["TRN OUT"] = pd.to_numeric(final_Report["TRN OUT"], errors='coerce')
final_Report["Complain"] = pd.to_numeric(final_Report["Complain"], errors='coerce')
final_Report["Motivation"] = pd.to_numeric(final_Report["Motivation"], errors='coerce')
final_Report["Damage"] = pd.to_numeric(final_Report["Damage"], errors='coerce')
final_Report["Sales"] = pd.to_numeric(final_Report["Sales"], errors='coerce')

In [699]:
final_Report.fillna(0, inplace=True)

In [700]:
final_Report.set_index("Sub Category", inplace=True)

In [702]:
#add total of each column at the bottom of the dataframe
total = final_Report.sum()
final_Report.loc['Total Cost'] = total

,BBF,Direct Cost,ON HAND,Production Cost,TRN IN,TRN OUT,Complain,Motivation,Damage,Sales
Sub Category,,,,,,,,,,
BOTTLED BEVERAGE,2508.376400,27055.3634,924.752600,0.000,0.00,217.20,25.37000,0.00000,0.00,79370.69
CUP,1205.670000,1698.3868,389.148400,0.000,0.00,0.00,0.00000,0.00000,0.00,4872.61
HOT BEVERAGE,10329.915850,61924.2781,5191.845302,0.000,5471.66,5775.66,0.00000,487.21624,266.00,341516.52
CAKE,3254.632226,0.0000,2415.364548,254891.020,13739.50,2892.89,140.55760,196.69000,91.42,494455.69
ICE CREAM,12424.890540,0.0000,7426.505426,10197.667,0.00,0.00,0.00000,0.00000,0.00,28690.03
FAST FOOD,25974.561702,45523.7684,25546.323757,26256.350,759.27,4239.40,0.00000,123.71000,165.59,101760.38
JUICE,2299.850791,12506.4773,2133.960144,0.000,0.00,0.00,18.03977,0.00000,400.62,33458.36
COFFEE,0.000000,0.0000,666.893000,0.000,0.00,0.00,0.00000,0.00000,0.00,0.00
YOGHURT,0.000000,2021.4000,0.000000,0.000,217.40,0.00,41.74000,0.00000,0.00,2841.51
POUCH MILK,304.000000,8195.8107,152.000000,0.000,0.00,0.00,0.00000,41.00000,0.00,0.00
SUPPLY,19182.206000,1358.8742,18596.971000,0.000,0.00,0.00,0.00000,0.00000,0.00,0.00
STATIONARY,159.340000,4820.2603,108.250000,0.000,0.00,0.00,0.00000,0.00000,0.00,0.00
CLEANING,180.365900,4352.5327,100.209592,0.000,0.00,0.00,0.00000,0.00000,0.00,0.00
PACKING MATERIAL,78216.829700,0.0000,1543.676800,0.000,0.00,0.00,0.00000,0.00000,0.00,0.00
STUFF,199.385200,0.0000,0.678986,0.000,0.00,0.00,0.00000,0.00000,0.00,0.00
Total Cost,156240.024309,169457.1519,65196.579554,291345.037,20187.83,13125.15,225.70737,848.61624,923.63,1086965.79

In [703]:
#add total of each column except pouch milk and youghurt at the bottom of the dataframe
rows_to_exclude = ['YOGHURT', 'POUCH MILK','Total Cost']
df_to_sum = final_Report.drop(rows_to_exclude)
total_Without_PouchMilk_Yoghurt = df_to_sum.sum()
final_Report.loc["T C w/o pou&yog"] = total_Without_PouchMilk_Yoghurt

,BBF,Direct Cost,ON HAND,Production Cost,TRN IN,TRN OUT,Complain,Motivation,Damage,Sales
Sub Category,,,,,,,,,,
BOTTLED BEVERAGE,2508.376400,27055.3634,924.752600,0.000,0.00,217.20,25.37000,0.00000,0.00,79370.69
CUP,1205.670000,1698.3868,389.148400,0.000,0.00,0.00,0.00000,0.00000,0.00,4872.61
HOT BEVERAGE,10329.915850,61924.2781,5191.845302,0.000,5471.66,5775.66,0.00000,487.21624,266.00,341516.52
CAKE,3254.632226,0.0000,2415.364548,254891.020,13739.50,2892.89,140.55760,196.69000,91.42,494455.69
ICE CREAM,12424.890540,0.0000,7426.505426,10197.667,0.00,0.00,0.00000,0.00000,0.00,28690.03
FAST FOOD,25974.561702,45523.7684,25546.323757,26256.350,759.27,4239.40,0.00000,123.71000,165.59,101760.38
JUICE,2299.850791,12506.4773,2133.960144,0.000,0.00,0.00,18.03977,0.00000,400.62,33458.36
COFFEE,0.000000,0.0000,666.893000,0.000,0.00,0.00,0.00000,0.00000,0.00,0.00
YOGHURT,0.000000,2021.4000,0.000000,0.000,217.40,0.00,41.74000,0.00000,0.00,2841.51
POUCH MILK,304.000000,8195.8107,152.000000,0.000,0.00,0.00,0.00000,41.00000,0.00,0.00
SUPPLY,19182.206000,1358.8742,18596.971000,0.000,0.00,0.00,0.00000,0.00000,0.00,0.00
STATIONARY,159.340000,4820.2603,108.250000,0.000,0.00,0.00,0.00000,0.00000,0.00,0.00
CLEANING,180.365900,4352.5327,100.209592,0.000,0.00,0.00,0.00000,0.00000,0.00,0.00
PACKING MATERIAL,78216.829700,0.0000,1543.676800,0.000,0.00,0.00,0.00000,0.00000,0.00,0.00
STUFF,199.385200,0.0000,0.678986,0.000,0.00,0.00,0.00000,0.00000,0.00,0.00
Total Cost,156240.024309,169457.1519,65196.579554,291345.037,20187.83,13125.15,225.70737,848.61624,923.63,1086965.79
T C w/o pou&yog,155936.024309,159239.9412,65044.579554,291345.037,19970.43,13125.15,183.96737,807.61624,923.63,1084124.28

In [704]:
# Include total damage in the last raw
final_Report.loc["Damage", "Direct Cost"] = final_Report.loc['Total Cost',"Damage"].sum()

In [705]:
total_sales = sum(Sales["Total Amount"])

In [706]:
final_Report.loc["SUPPLY", "Sales"] = total_sales
final_Report.loc["STATIONARY", "Sales"] = total_sales
final_Report.loc["CLEANING", "Sales"] = total_sales
final_Report.loc["PACKING MATERIAL", "Sales"] = total_sales
final_Report.loc["STUFF", "Sales"] = total_sales
final_Report.loc["Damage", "Sales"] = total_sales
final_Report.loc["Total Cost", "Sales"] = total_sales

In [708]:
# Excluding sales of Yoghurt and Pouch Milk 
pouch_and_Yoghurt = final_Report.loc["YOGHURT", "Sales"] + final_Report.loc["POUCH MILK", "Sales"]
final_Report.loc["T C w/o pou&yog", "Sales"] = total_sales  - pouch_and_Yoghurt

,BBF,Direct Cost,ON HAND,Production Cost,TRN IN,TRN OUT,Complain,Motivation,Damage,Sales
Sub Category,,,,,,,,,,
BOTTLED BEVERAGE,2508.376400,27055.3634,924.752600,0.000,0.00,217.20,25.37000,0.00000,0.00,79370.69
CUP,1205.670000,1698.3868,389.148400,0.000,0.00,0.00,0.00000,0.00000,0.00,4872.61
HOT BEVERAGE,10329.915850,61924.2781,5191.845302,0.000,5471.66,5775.66,0.00000,487.21624,266.00,341516.52
CAKE,3254.632226,0.0000,2415.364548,254891.020,13739.50,2892.89,140.55760,196.69000,91.42,494455.69
ICE CREAM,12424.890540,0.0000,7426.505426,10197.667,0.00,0.00,0.00000,0.00000,0.00,28690.03
FAST FOOD,25974.561702,45523.7684,25546.323757,26256.350,759.27,4239.40,0.00000,123.71000,165.59,101760.38
JUICE,2299.850791,12506.4773,2133.960144,0.000,0.00,0.00,18.03977,0.00000,400.62,33458.36
COFFEE,0.000000,0.0000,666.893000,0.000,0.00,0.00,0.00000,0.00000,0.00,0.00
YOGHURT,0.000000,2021.4000,0.000000,0.000,217.40,0.00,41.74000,0.00000,0.00,2841.51
POUCH MILK,304.000000,8195.8107,152.000000,0.000,0.00,0.00,0.00000,41.00000,0.00,0.00
SUPPLY,19182.206000,1358.8742,18596.971000,0.000,0.00,0.00,0.00000,0.00000,0.00,1270795.59
STATIONARY,159.340000,4820.2603,108.250000,0.000,0.00,0.00,0.00000,0.00000,0.00,1270795.59
CLEANING,180.365900,4352.5327,100.209592,0.000,0.00,0.00,0.00000,0.00000,0.00,1270795.59
PACKING MATERIAL,78216.829700,0.0000,1543.676800,0.000,0.00,0.00,0.00000,0.00000,0.00,1270795.59
STUFF,199.385200,0.0000,0.678986,0.000,0.00,0.00,0.00000,0.00000,0.00,1270795.59
Total Cost,156240.024309,169457.1519,65196.579554,291345.037,20187.83,13125.15,225.70737,848.61624,923.63,1270795.59
T C w/o pou&yog,155936.024309,159239.9412,65044.579554,291345.037,19970.43,13125.15,183.96737,807.61624,923.63,1267954.08
Damage,NaN,923.6300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1270795.59

In [ ]:
final_Report['Complain%'] = np.where(final_Report['Sales'] !=0, final_Report['Complain'] / final_Report['Sales'], np.nan) * 100
final_Report['Motivation%'] = np.where(final_Report['Sales'] !=0, final_Report['Motivation'] / final_Report['Sales'], np.nan) * 100
final_Report['Damage%'] = np.where(final_Report['Sales'] !=0, final_Report['Damage'] / final_Report['Sales'], np.nan) * 100
final_Report['C.G.S'] = final_Report['BBF'] + final_Report['Direct Cost'] + final_Report['Production Cost'] + final_Report['TRN IN'] - final_Report['ON HAND'] - final_Report['TRN OUT']
final_Report['%'] = np.where(final_Report['Sales'] !=0, final_Report['C.G.S'] / final_Report['Sales'], np.nan) * 100

In [ ]:
final_Report.fillna(value=0, inplace=True)

In [ ]:
final_Report.loc["Damage", "%"] = (final_Report.loc["Damage", "Direct Cost"] / final_Report.loc["Damage", "Sales"]) * 100

In [ ]:
# rounding the float columns to two decimal places
final_Report[['Production Cost', 'Direct Cost', 'TRN IN', 'TRN OUT', 'Complain', 'Motivation', 
              'Damage', 'Sales', 'Complain%', 'Motivation%', 'Damage%', 'C.G.S', '%' ]] = final_Report[['Production Cost', 'Direct Cost', 'TRN IN', 'TRN OUT', 'Complain', 'Motivation', 
              'Damage', 'Sales', 'Complain%', 'Motivation%', 'Damage%', 'C.G.S','%' ]].round(2)

In [ ]:
final_Report = final_Report.sort_index(ascending=True)

In [ ]:
# reordering the columns as it appears on the F&B report
desired_order = ['BBF', 'Direct Cost', 'ON HAND', 'Production Cost', 'TRN IN', 'TRN OUT', 'Complain', 'Motivation', 
              'Damage',  'Complain%', 'Motivation%', 'Damage%', 'C.G.S','Sales', '%' ]

In [ ]:
final_Report = final_Report[desired_order]

In [ ]:
final_Report.rename(index={"COFFEE": "COFFEE ROASTED"}, inplace=True)

In [ ]:
# Define the desired order for the index
index_order = ['BOTTLED BEVERAGE', 'CUP', 'HOT BEVERAGE', 'CAKE', 'ICE CREAM', 'FAST FOOD', 'JUICE', 'COFFEE ROASTED', 'YOGHURT', 'POUCH MILK', 'SUPPLY', 
         'STATIONARY','CLEANING', 'PACKING', 'STUFF','Damage', 'Total Cost', 'T C w/o pou&yog' ]

In [ ]:
final_Report = final_Report[final_Report.index.isin(index_order)]
final_Report

,BBF,Direct Cost,ON HAND,Production Cost,TRN IN,TRN OUT,Complain,Motivation,Damage,Complain%,Motivation%,Damage%,C.G.S,Sales,%
Sub Category,,,,,,,,,,,,,,,
BOTTLED BEVERAGE,2508.376400,27055.36,924.752600,0.00,0.00,217.20,25.37,0.00,0.00,0.03,0.00,0.00,28421.79,79370.69,35.81
CAKE,3254.632226,0.00,2415.364548,254891.02,13739.50,2892.89,140.56,196.69,91.42,0.03,0.04,0.02,266576.90,494455.69,53.91
CLEANING,180.365900,4352.53,100.209592,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4432.69,1270795.59,0.35
COFFEE ROASTED,0.000000,0.00,666.893000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-666.89,0.00,0.00
CUP,1205.670000,1698.39,389.148400,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2514.91,4872.61,51.61
Damage,0.000000,923.63,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1270795.59,0.07
FAST FOOD,25974.561702,45523.77,25546.323757,26256.35,759.27,4239.40,0.00,123.71,165.59,0.00,0.12,0.16,68728.23,101760.38,67.54
HOT BEVERAGE,10329.915850,61924.28,5191.845302,0.00,5471.66,5775.66,0.00,487.22,266.00,0.00,0.14,0.08,66758.35,341516.52,19.55
ICE CREAM,12424.890540,0.00,7426.505426,10197.67,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,15196.05,28690.03,52.97
JUICE,2299.850791,12506.48,2133.960144,0.00,0.00,0.00,18.04,0.00,400.62,0.05,0.00,1.20,12672.37,33458.36,37.88
POUCH MILK,304.000000,8195.81,152.000000,0.00,0.00,0.00,0.00,41.00,0.00,0.00,0.00,0.00,8347.81,0.00,0.00
STATIONARY,159.340000,4820.26,108.250000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4871.35,1270795.59,0.38
STUFF,199.385200,0.00,0.678986,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,198.71,1270795.59,0.02
SUPPLY,19182.206000,1358.87,18596.971000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1944.11,1270795.59,0.15
T C w/o pou&yog,155936.024309,159239.94,65044.579554,291345.04,19970.43,13125.15,183.97,807.62,923.63,0.02,0.07,0.09,548321.70,1084124.28,50.58
Total Cost,156240.024309,169457.15,65196.579554,291345.04,20187.83,13125.15,225.71,848.62,923.63,0.02,0.08,0.08,558908.31,1086965.79,51.42
YOGHURT,0.000000,2021.40,0.000000,0.00,217.40,0.00,41.74,0.00,0.00,1.47,0.00,0.00,2238.80,2841.51,78.79

In [ ]:
# Convert the index to a categorical type with the specified order
final_Report.index = pd.CategoricalIndex(final_Report.index, categories=index_order, ordered=True)

# # Sort the DataFrame based on the ordered categorical index
final_Report = final_Report.sort_index()

In [ ]:
final_Report

,BBF,Direct Cost,ON HAND,Production Cost,TRN IN,TRN OUT,Complain,Motivation,Damage,Complain%,Motivation%,Damage%,C.G.S,Sales,%
Sub Category,,,,,,,,,,,,,,,
BOTTLED BEVERAGE,2508.376400,27055.36,924.752600,0.00,0.00,217.20,25.37,0.00,0.00,0.03,0.00,0.00,28421.79,79370.69,35.81
CUP,1205.670000,1698.39,389.148400,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2514.91,4872.61,51.61
HOT BEVERAGE,10329.915850,61924.28,5191.845302,0.00,5471.66,5775.66,0.00,487.22,266.00,0.00,0.14,0.08,66758.35,341516.52,19.55
CAKE,3254.632226,0.00,2415.364548,254891.02,13739.50,2892.89,140.56,196.69,91.42,0.03,0.04,0.02,266576.90,494455.69,53.91
ICE CREAM,12424.890540,0.00,7426.505426,10197.67,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,15196.05,28690.03,52.97
FAST FOOD,25974.561702,45523.77,25546.323757,26256.35,759.27,4239.40,0.00,123.71,165.59,0.00,0.12,0.16,68728.23,101760.38,67.54
JUICE,2299.850791,12506.48,2133.960144,0.00,0.00,0.00,18.04,0.00,400.62,0.05,0.00,1.20,12672.37,33458.36,37.88
COFFEE ROASTED,0.000000,0.00,666.893000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-666.89,0.00,0.00
YOGHURT,0.000000,2021.40,0.000000,0.00,217.40,0.00,41.74,0.00,0.00,1.47,0.00,0.00,2238.80,2841.51,78.79
POUCH MILK,304.000000,8195.81,152.000000,0.00,0.00,0.00,0.00,41.00,0.00,0.00,0.00,0.00,8347.81,0.00,0.00
SUPPLY,19182.206000,1358.87,18596.971000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1944.11,1270795.59,0.15
STATIONARY,159.340000,4820.26,108.250000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4871.35,1270795.59,0.38
CLEANING,180.365900,4352.53,100.209592,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4432.69,1270795.59,0.35
STUFF,199.385200,0.00,0.678986,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,198.71,1270795.59,0.02
Damage,0.000000,923.63,0.000000,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1270795.59,0.07
Total Cost,156240.024309,169457.15,65196.579554,291345.04,20187.83,13125.15,225.71,848.62,923.63,0.02,0.08,0.08,558908.31,1086965.79,51.42
T C w/o pou&yog,155936.024309,159239.94,65044.579554,291345.04,19970.43,13125.15,183.97,807.62,923.63,0.02,0.07,0.09,548321.70,1084124.28,50.58

#### Confirming that all reports are from the same branch and if so, extracting the common branch name for exported report

In [ ]:
# Define the relative path to the new folder
new_folder = f'./{options[choice - 1]}'

# Create the new folder if it doesn't exist
os.makedirs(new_folder, exist_ok=True)

# Define the file path
file_path = os.path.join(new_folder, f'Cost_Report {options[choice - 1]}.xlsx')

In [ ]:
# Write the DataFrame to an Excel file
#file_path = f'Cost_Report {options[choice - 1]}.xlsx'
final_Report.to_excel(file_path, index=True, sheet_name="Cost {}".format(options[choice - 1]))

print(f'Data has been written to {file_path}')

Data has been written to ./Addisu Gebeya\Cost_Report Addisu Gebeya.xlsx

In [601]:
# # Write the motivation and damage DataFrame to an Excel file
# motivation_path = os.path.join(new_folder, f'Motivation Report {options[choice - 1]}.xlsx') 
# cleaned_motivation.to_excel(motivation_path, index=True, sheet_name="Motivation {}".format(options[choice - 1]))

# complain_path = os.path.join(new_folder, f'Complain Report {options[choice - 1]}.xlsx') 
# cleaned_complain.to_excel(complain_path, index=True, sheet_name="Complain {}".format(options[choice - 1]))

# print(f'Motivation and Complain Data has been written to {file_path}')